#ask-for-school-code {
  min-height: 30vh;
  min-width: 40vw;
  justify-content: center;
  > * {
    margin: 1rem;
  }
  #buttons-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .disabledForm {
    border: 1px solid lightgray;
  }
}
