@import "./consts.scss";

.home-page-info-alert {
    overflow-y: scroll;
    height: fit-content;
    max-height: 75vh;
    width: vw(78);

    position: fixed;
    padding: 20px;
    border-radius: 10px;
    z-index: 12;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px -6px;

    -webkit-perspective: 1000;

    .welcome {
        color: $pinkColor;
        font-weight: bold;
    }
    .hrImg {
        width: 100%;
    }
    .fullMsg-container {
        width: 75%;
        .changePasswd-ref {
            color: $pinkColor;
            text-underline-position: below;
            border-bottom: 1px solid $pinkColor;
        }
        .changePasswd-ref:active {
            color: #7e1b3f;
            border-bottom: 1px solid #7e1b3f;
        }
        > div {
            margin: 2vh 0;
        }
    }
    .close-welcome-btn {
        margin-top: 1vh;
        background: $oppositeGradient;
        color: white;
        width: vw(30);
        height: 5.5vh;
        line-height: 5.5vh;
        border-radius: 30px;
        font-size: 3vh;
    }
    .close-welcome-btn-click {
        transform: translateZ(-10px);
    }
}
