@import "./consts.scss";
#reset-password-second-container {
  height: inherit;
  p {
    line-height: 5vh;
    margin: 0;
    padding: 0;
  }
  #resetPWForm{
    
  }
  #resetPass {
    float: right;
    margin: 0;
  }
  #resetField {
    width: 75vw;
    margin: 0 auto;
    margin-top: 2rem;
  }
  #resetSubmit {
    background-color: lightgrey;
    width: 50vw;
    border-radius: 30px;
    border: none;
  }
  #resetBtn {
    // margin-top: 1rem;
    width: fit-content;
    border: none;
    // position: absolute;
    // right: 37.5vw;
    // top: 55vh;
  }
  .form-opened {
    position: absolute;
    right: 44.5vw;
    top: 55vh;
  }
  .form-closed {
    // position: absolute;
    // right: 37.5vw;
    // top: 55vh;
  }
  ::-webkit-input-placeholder {
    text-align: right;
  }
  input:-moz-placeholder {
    text-align: right;
  }
}
