#loading-container {
  margin: 1vh;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  
  #loading-item {
    width: 85%;
    height: 90%;
    background-color: #f1f1f1;
    // margin: vw(5);
    border-radius: 5px;
    animation: flash 2s linear infinite;
  }
}

@keyframes flash {
  0%{
    opacity: .1;
  }
  40%{
    opacity: 1;    
  }60%{
    opacity: 1;    
  }
  100%{
    opacity: .1;    
  }
}