@function vh($quantity) {
    @return calc(var(--vh, 1vh) * #{$quantity});
}
@function vw($quantity) {
    @return calc(var(--vw, 1vw) * #{$quantity});
}

#os-explain-container {
    overflow-y: scroll;
    overflow-x: hidden;
    width: vw(78);
    position: absolute;
    padding: 20px;
    padding-bottom: 0;
    background-color: white;
    border-radius: 30px;
    z-index: 12;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    max-height: 75vh;
    justify-content: space-between;

    #here-smspage-explanation {
        text-decoration: underline currentColor solid;
    }

    #button-container {
        background-color: white;
        width: vw(100);
        padding: 25px;
        position: sticky;
        bottom: 0;
    }
}
