#admin-change-pw-popup {
    max-width: 60%;
    min-width: 315px; // todo check on big screen

    .admin-text-input-container { // admin-textInput (generic)
        margin: 0 40px; // todo check on big screen
        input {
            width: 280px; // todo check on big screen
        }
        .admin-text-input-helperText{
            max-width: 280px;
        }
    }
}
